<style>body { background-color: black; color: white}</style>
<form method="post" action="/request_tissue">
Product/Service:<br>
<input type="radio" name="product" value="tekkit_classic"> Tekkit Classic <br>
<input type="radio" name="product" value="gitlab"> GitLab <br>
y u need tissue (include any error messages and links to screenshots): <br>
<textarea name="issue" cols="80" rows="5"> </textarea> <br>
ur naem: <br>
<input type="text" name="name"> <br>
<input type="checkbox" name="love"> u luv me <br>
<input type="submit" value="I'm sure I'm not an idiot">
</form>
